<h2>Campeonato XYZ</h2>
<form #myForm="ngForm" (submit)="saveData(myForm)">
  <div>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="newTime.nome" name="nome" #nome="ngModel" required>
  </div>
  <div>
    <label>Pontuação:</label>
    <input type="number" [(ngModel)]="newTime.point" name="point" #point="ngModel" required>
  </div>
  <input type="submit" value="Salvar" [disabled]="myForm.invalid">
  </form>

<h3>Classificação</h3>

<table>
  <tr>
    <th>Classificação</th>
    <th>Time</th>
    <th>Pontuação</th>
  </tr>
  <tr *ngFor="let time of timeList; let i = index">
    <td>
      {{i+1}}
    </td>
    <td>
      {{time.nome}}
    </td>
    <td>
      {{time.point}}
    </td>
  </tr>
</table>